.navbar {
    background-color: teal;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .cardImage {
    width: 80px;
    height: 80px;
    object-fit: fill;
  }